*.pyc
venv/
*.env
*.log
logs/
media/
config/

/Client UI/screenshots/
/Client UI/tests.py
/db.sqlite3
/Client UI/components/statistic/statistic.xlsx
/Client UI/components/browsers_control/chromedriver/chromedriver
/Client UI/components/browsers_control/chromedriver/LICENSE.chromedriver
/Client UI/statistic/statistic.xlsx
